.footer {
  background-color: #fff;
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: 'Ailerons', serif;
  font-size: 1.7vh;
  font-weight: 300;
  position: inherit;
  bottom: -50px;
  overflow: hidden;
  z-index: 100;

  .copyright-text {
    position: relative;
    line-height: 50px;
    color: #6e6e6e;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
}

