.wrapper {
  display: flex;
  min-height: calc(100vh - 140px);
  flex-direction: column;
  position: relative;
  background-color: #fff;

  .content {
    display: flex;
    flex: 1;

    .row {
      margin-right: 15%;
      margin-left: 15%;
      width: 100%;
    }
  }
}
